body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
    background-color: #cccccc;
 
}
.header {
  background-color:blue
}
.kk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
}
.mm {
  color: black;

}
.dd {
  color :gold;
}
